<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vdotok.chat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.vdotok.chat.ChatDemoApp"
        android:allowBackup="false"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_main"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.VdoTokChat"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.vdotok.chat.ui.account.ui.AccountActivity"
            android:theme="@style/Theme.AccountScreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name="com.vdotok.chat.ui.dashBoard.ui.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.vdotok.chat.ui.splash.ui.SplashActivity"
            android:theme="@style/Theme.AccountScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>